.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.conversations_bar{
  overflow-y: auto;
  height: 100vh;
}

.chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Toma toda la altura de la ventana */
}

.messages-container {
  display: flex;
  flex: 1;
  flex-direction: column; /* Cambiado a la columna estándar */
  overflow-y: auto;
}

.contact-info-bar{
  height: 8.5vh;
  background-color: #ffffff;
}

.message, .reply {
  padding: 8px 12px;
  margin: 4px 4px;
  word-wrap: break-word;
}

.date-header {
  text-align: center;
  margin: 10px 0;
}

.message-bubble {
  padding: 2px 4px; /* Espacio alrededor del texto dentro de la burbuja */
  margin: 8px 45px; /* Espacio alrededor de la burbuja */
  max-width: 65%; /* Máximo ancho de la burbuja */
  word-wrap: break-word; /* Asegurar que el texto no salga de la burbuja */
}

.same-type-following {
  margin-top: 4px; /* Espacio reducido cuando el mensaje siguiente es del mismo tipo */
}

.message-bubble .message-content {
  margin-right: 70px;
  margin: 5px 10px;
}

.message-bubble {
  padding: 2px 4px;
  max-width: 65%;
  word-wrap: break-word;
  border-radius: 18px;
  margin-top: 2px; /* Espacio estándar entre mensajes del mismo tipo */
  margin-right: 55px;
  margin-left: 55px;
}

.message-bubble.message {
  background-color:  #D033B9; /* Color para mensajes del usuario */
  color: white;
  align-self: flex-start;
  font-size: 15px;
  box-shadow: 0px 0px 5px #979797;
  border-radius: 0px 10px 10px 10px;
  margin-right: auto;
}

.message-bubble.reply {
  background-color: #A645C7; /* Color para respuestas */
  color: white;
  align-self: flex-end;
  font-size: 15px;
  box-shadow: 0px 0px 10px #979797;
  border-radius: 10px 0px 10px 10px;
}

/* Separar estilos de tiempo para no interferir con la lógica del margen */
.message-time, .reply-time {
  display: block;
  text-align: right;
  color: rgb(228, 228, 228);
  font-size: 0.75em;
  margin-left: auto;
  padding-right: 10px;
}

/* Agrega estilos para asegurar que los mensajes no se peguen demasiado cuando son de diferente tipo */
.different-type-previous {
  margin-top: 15px;
}

/* Aumentar el margen inferior si el siguiente mensaje es de un tipo diferente */
.different-type-next {
  margin-bottom: 15px;
}

/* Asegúrate de que la clase .message-content no interfiera con los estilos de .message-bubble */
.message-bubble .message-content {
  margin-right: 50px; /* Esto debe ser suficiente para evitar la superposición con la hora */
}

.image-preview img {
  width: 300px; /* O la dimensión que prefieras para la visualización preliminar */
  height: 300px; /* Igual que el ancho para hacerlo cuadrado */
  object-fit: cover; /* Mantiene la relación de aspecto y cubre el área */
  cursor: pointer; /* Indica que se puede hacer clic */
  padding: 5px;
}

.video-preview {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 5px;
}

.video-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Tamaño del ícono y estilos adicionales... */
}

.video-duration {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.75rem;
}

/* Nuevo estilo para la capa que muestra el ícono de play */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.video-preview .play-icon {
  font-size: 4rem; /* Ajusta el tamaño según necesites */
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mayor visibilidad del ícono y la duración */
}

.icon-spacing {
  margin-right: 5px; /* Ajusta este valor a lo que necesites */
}


.message-content img,
.message-content video {
  max-width: 300px; /* Ajusta el 500px según tus necesidades */
  width: 100%; /* Asegura que la imagen/video sea responsive y no exceda su contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  padding: 3px;
}

/* AudioPlayer.css */
.audio-player {
  display: flex;
  width: 300px;
  align-items: center;
  padding: 10px;
  position: relative;
}

.play-pause-btn {
  background: transparent;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.progress-bar {
  background-color: #A645C7;
  height: 100%;
  border-radius: 5px;
}

.audio-duration {
  position: absolute;
  bottom: 1px;
  left: 40px;
  color: #65676b;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.wallpaper_messages{
  background-color: #fef9ff;
  background-position: center;
  background-attachment: local;
  height: 100vh;
  background-size: 110%;
}

.badge-label {
  position: absolute;
  right: 9px; 
  top: 2px; 
  font-size: 1rem; /* Ajusta el tamaño según tu preferencia */
}

.badge-label-text {
  font-size: 0.8rem;
}

.custom-dropdown .dropdown-toggle {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  height: auto !important;
  color: #000;
  margin-left: 5px; /* Espacio entre la etiqueta y el botón */
}

.custom-dropdown .dropdown-menu {
  min-width: auto !important; /* Ajustar el ancho del menú desplegable */
}


.list-group-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative; 
  border: none;
  border-radius: 0;
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #f2f2f2;
}

.rounded-circle{
  fill: rgb(192, 192, 192);
}

.list-group-item .rounded-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.list-group-item strong {
  font-size: 16px;
  color: #000;
  flex-grow: 1; 
}

.list-group-item .text-muted {
  flex-grow: 1;
  font-size: 14px;
}

.list-group-item .badge-pill {
  position: absolute;
}

.list-group-item small {
  position: absolute;
  right: 15px;
  bottom: 1px; 
  font-size: 12px;
  color: #666;
}

.badge-primary {
  background-color: #25D366;
  position: absolute;
  right: 7px; 
  top: 30px; 
  font-size: 0.7rem;
  border-radius: 50%;
}

.renderLabelBadge {
  position: absolute;
  right: 15px;
  top: 5px; 
}

.icons-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 85px;
  top: 17px;
}

.icons-profile a svg {
  fill: black;
}

.icons-profile a svg:hover {
  fill: gray;
}

.icon_rrss svg{
  fill: black;
}

.icon_rrss svg:hover{
  fill: gray;
}

.edit_profile{
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 20px;
  top: 15px;
}

.edit_profile:hover{
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: gray;
  border-color: white;
}

.responsable {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 30%;
  top: 12px;
}

.reply-bar-container {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.reply-button {
  margin: 0 5px;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  resize: none; /* Deshabilitar cualquier redimensionamiento manual */
  overflow-y: auto;
}

.send-button {
  background-color: #007bff;
  color: white;
}

.name-container {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a ambos extremos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.edit_button {
  font-size: 0.8rem;
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa el mouse sobre el ícono */
}

.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column; /* Organiza los botones verticalmente */
}

.icon-save {
  Color: green;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: white;
  vertical-align:middle;
}

.icon-save:hover {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  vertical-align:middle;
}

.icon-cancel {
  Color: red;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:white;
  vertical-align:middle;
}

.icon-cancel:hover {
  Color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:red;
  vertical-align:middle;
}

.icon-edit {
  Color: blue;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:white;
  vertical-align:middle;
}

.icon-edit:hover {
  Color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:blue;
  vertical-align:middle;
}

.icon-close {
  Color: gray;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:white;
  vertical-align:middle;
}

.icon-close:hover {
  Color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color:gray;
  vertical-align:middle;
}

.contact-info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-info a {
  flex-shrink: 0; /* Prevents the icon from shrinking */
}


.emoji-picker {
  position: absolute;
  bottom: 50px; /* Ajustar según la necesidad */
  left: 0;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  display: none; /* oculto por defecto */
}

.emoji-picker.visible {
  display: block;
}

.message-input-container {
  position: relative; /* Contexto de posicionamiento para el menú de emojis */
}

.document-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px 0;
}

.document-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
}

.document-icon {
  width: 30px;
  height: 30px;
}

.document-name {
  font-size: 16px;
  text-align: left;
  flex-grow: 1;
}

.document-actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5px;
}

.document-button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  width: 150px;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  flex-grow: 1;
}

.document-button:hover {
  background-color: #fafafa;
}

.audio-recorder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-input {
  flex-grow: 1;
}

.reply-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

@media (max-width: 767px) {
  .reply-bar-container {
    gap: 0;
    padding: 0;
  }
  .message-input {
    padding: 1.2em 0;
    padding-left: 1.5em;
  }
  .reply-button {
    padding: 0.1em;
  }
  .message-bubble {
    margin-right: 1em;
    margin-left: 1em;
  }
  .container-fluid{
    padding-right: 0;
  }
}

.reply-button, .audio-recorder button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.reply-button:hover, .audio-recorder button:hover {
  color: rgb(22, 22, 22);
}

.collapsible-sidebar {
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Asegurarte de que esté por encima del contenido */
}

.collapsible-sidebar.collapsed {
  width: 60px; /* Ancho cuando está colapsada */
}

.collapsible-sidebar.expanded {
  width: 230px; /* Ancho cuando está expandida */
}

.collapsible-sidebar .user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid white;
}

.collapsible-sidebar .user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.collapsible-sidebar .user-details {
  margin-left: 10px;
}

.collapsible-sidebar .nav-item {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.collapsible-sidebar .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.collapsible-sidebar .nav-item i {
  margin-right: 10px;
}

.collapsible-sidebar .nav-item span {
  margin-left: 10px;
}
@media all and (min-width: 767px) {

  .content-collapsed {
    margin-left: 70px; /* Ancho cuando la barra está colapsada */
    transition: margin-left 0.3s;
  }
}


.content-expanded {
  margin-left: 250px; /* Ancho cuando la barra está expandida */
  transition: margin-left 0.3s;
}

.renderContent{
  width: 100%;
}

.reply-preview {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
  color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reply-preview:hover {
  background: rgba(255, 255, 255, 1); /* Fondo sólido al pasar el mouse */
}

.message-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.message-time svg {
  width: 1.5em;
  height: 1.5em;
}

.modal-90w {
  width: 90%;
  height: 90vh;
  max-width: none;
  max-height: none;
}
