.company-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  padding-top: 50px;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.company-logo {
  width: 450px;
  object-fit: contain;
  margin: 50px;
}

.company-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.company-details h2 {
  margin: 0;
  font-size: 24px;
}

.company-details p {
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-button {
  align-self: flex-end;
}

.users-container {
  margin-top: 20px;
  width: 80%;
}

.user-card {
  margin-bottom: 20px;
  height: 100%;
}

.profile-img-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.profile-img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.bot-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.counters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 75%;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 30px;
}

.counter p {
  margin: 5px 0;
}
