.preview-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .whatsapp-preview {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #e9f7ef;
  }
  
  .message {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .header, .body, .footer {
    margin-bottom: 10px;
  }
  
  .footer {
    font-size: 0.85rem;
    color: #666;
  }
  
  .buttons button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #25d366;
    color: #fff;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .action-button {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  /* Estilos para el spinner de carga */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Asegúrate de que esté por encima del contenido */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  width: 100%;
  height: 100%;
}

/* Estilos para ocultar el contenido mientras se carga */
.loading-content {
  opacity: 0.5; /* Reduce la opacidad del contenido */
  pointer-events: none; /* Desactiva los eventos del contenido */
}

.type_template{
  padding-top: 50px;
  background-color: #f2f2f2;
  height: 100vh;
}

.edit_template{
  padding-top: 50px;;
  border: 2px solid #f2f2f2;
}

.preview_template{
  padding-top: 50px;
  background-color: #f2f2f2;
  height: 100vh;
}